<h1><%= @author.name %></h1>
<section class="best-review">
  <%= @author.best_review do |review| %>
  <h4><%= review.title %></h4>
  <p><%= review.score %></p>
  <p><%= review.user.name %></p>
  <% end %>
</section>

<section class="books">
<% @books.each do |book|%>
  <section id="book-<%=book.id%>">
    <img src="<%= book.thumbnail %>" alt="<%= book.title %>-cover">
    <h1> <a href="/books/<%= book.id %>"><%= book.title %></a></h1>
    <% book.remove_author(@author).each do |author| %>
    <a href="author_path(author.id)">author.name</a>
    <% end %>
    <p><%= book.pages %></p>
    <p><%= book.year_published %></p>
  </section>
<% end %>
</section>
