
<section class="navbar" id="sort-bar">
  <h1><%= @author.name %></h1>
  <section id="best-review">
    <h3>Best Review: </h3>
    <h4><%= @best_review['title'] %></h4>
    <p><%= @best_review['rating'] %></p>
    <p><%= @best_review['user'] %></p>
  </section>
</section>
<section class="books">
<% @books.each do |book|%>
<section class="info-display">
  <div class='book-image' id='author-book-img'>
    <img src="<%= book.thumbnail %>" alt="<%= book.title %>-cover">
  </div>
  <div class="book-info" >
    <%= link_to "#{book.title}", book_path(book.id), class: 'navlink', id: 'book-title'%>
    <% book.remove_author(@author).each do |author| %>
      <p>Author(s): </p><%= link_to author.name, author_path(author.id), class: 'navlink', id:'book-author' %>
    <% end %>
    <p>Page Count: <%= book.pages %></p>
    <p>Publication Date: <%= book.year_published %></p>
  </div>
</section>
<% end %>
</section>
