<section class= "navbar" id="sort-bar">
  <h1><%= @user.name %></h1>
    <%= link_to 'Newest Reviews', user_path(user: @user.id, sort: 'newest'), class: 'navlink' %>
    <%= link_to 'Oldest Reviews', user_path(user: @user.id, sort: 'oldest'), class: 'navlink' %>
</section>
<section class="reviews">
<%= @reviews.each do |review| %>
<section class="info-display" id="single-review">
  <div class="book-image" id="author-book-img">
    <img src="<%= review.book.thumbnail %>" alt="<%= review.book.title %>-cover">
    <%= link_to "#{review.book.title}", book_path(review.book.id), class: 'navlink' %>
  </div>
  <div class="book-info" id="book-<%= review.book.id%>">
    <p id='review-title'><%= review.title %></p>
    <p><%= review.rating %> out of 5</p>
    <p><%= review.description %></p>
    <p>Created: <%= review.created_at %></p>
    <%= button_to "Delete Review", review_path(review), method: :delete, params: {user: @user.id} %>
  </div>
  <%= button_to 'Delete Review', method: :delete, review: :id %>
</section>
<% end %>
</section>
