<% @books.each do |book|%>
  <div id="book-<%=book.name_as_kebab%>">
    <img src="<%= book.thumbnail %>" alt="<%= book.title %>-cover">
    <h1><%= book.title %></h1>
    <p><%= book.pages %></p>
    <p><%= book.year_published %></p>
  </div>
<% end %>
