<section class = 'navbar' id = 'sort-bar'>
<%= link_to 'Add New Book', new_book_path, class: 'navlink' %>
<%= link_to "Highest Rating", books_path(sort: :highest_rated), class: 'navlink' %>
<%= link_to "Lowest Rating", books_path(sort: :lowest_rated), class: 'navlink' %>
<%= link_to "Most Pages", books_path(sort: :most_pages), class: 'navlink' %>
<%= link_to "Least Pages", books_path(sort: :least_pages), class: 'navlink' %>
<%= link_to "Most Reviews", books_path(sort: :most_reviews), class: 'navlink' %>
<%= link_to "Least Reviews", books_path(sort: :least_reviews), class: 'navlink' %>
</section>
<section class="navbar" id="author-book-info">
  <div id="top-reviews">
    <h3>Top 3 Rated Books:</h3>
    <% @best_books.each do |book| %>
    <div class="review-scroll">
    <%= link_to "#{book.title}: ", book_path(book.id), class: 'navlink' %><p><%= book.average_rating %> out of 5</p>
    </div>
    <% end %>
  </div>
  <div id="bottom-reviews">
    <h3>Lowest 3 Rated Books</h3>
    <% @worst_books.each do |book| %>
    <div class="review-scroll">
    <%= link_to "#{book.title}: ", book_path(book.id), class: 'navlink' %><p><%= book.average_rating %> out of 5</p>
    </div>
    <% end %>
  </div>
  <div id="user-reviews">
    <h3>Top 3 Reviewers:</h3>
    <% @user_reviews.each do |user| %>
    <div class="review-scroll">
    <%= link_to "#{user.name}: ", user_path(user.id), class: 'navlink'%><p><%= user.count_reviews %> - Review(s)</p>
    </div>
    <% end %>
  </div>
</section>
<% @books.each do |book|%>
  <div class="info-display" id="book-<%=book.id%>">
    <div class="book-image">
      <img src="<%= book.thumbnail %>" alt="<%= book.title %>-cover">
    </div>
    <div class="book-info">
      <%= link_to "#{book.title}", book_path(book.id), class: 'navlink', id: 'book-title'%>
      <% book.authors.each do |author| %>
      <p>Author(s): </p><%= link_to author.name, author_path(author.id), class: 'navlink', id:'book-author' %>
      <% end %>
      <p>Average Rating: <%= book.average_rating %></p>
      <p>Total Reviews: <%= book.total_reviews %></p>
      <p>Page Count: <%= book.pages %></p>
      <p>Publication Date: <%= book.year_published %></p>
    </div>
  </div>
<% end %>
