<h1>New Book</h1>

<%= form_for @book do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :pages %>
<%= f.number_field :pages %>

<%= f.label :year_published %>
<%= f.number_field :year_published %>

<%= f.label :thumbnail %>
<%= f.text_field :thumbnail %>
<div id="author">
  <% @authors.each do |author| %>
  <%= f.label :author.name %>
  <%= f.check_box :authors, multiple: true%>
  <% end %>
</div>
<div id="co-author">
  <%= f.label :'Co-Authors' %>
  <%= f.collection_select(:authors, @authors, :id, :name, include_hidden: false) %>
</div>

<%= f.submit :Save %>
<% end  %>
