<h1>New Book</h1>

<%= form_for @book do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :pages %>
<%= f.number_field :pages %>

<%= f.label :year_published %>
<%= f.number_field :year_published %>

<%= f.label :thumbnail %>
<%= f.text_field :thumbnail %>

<%= f.label :authors %>
<%= f.collection_select(:authors, @authors, :id, :name, include_blank: true ) %>

<%= f.submit :Save %>
<% end  %>
